img {
	max-width: 100%;
}

ul {
	padding: 0;
	margin: 0;
	text-align: center;
	list-style: none;
	
	li {
		margin: 0;
		font-family: 'AleckSans_Medium', sans-serif;
	}
}

.disableAll {
	.lock, .draggableObj {
		pointer-events: none !important;
	}
}

.hide {
	display: none;
}

.appear {
	display: inline-block;
}

main {
	position: relative;
	width: 100%;
	min-height: 100vh;
}

section {
	position: relative;
	max-width: 100%;
	text-align: center;
}

button {
	cursor: pointer;
	opacity: 1;

	@extend .transition-opacity;
}

/****************************
PULSE USED ON HOME FOR CTA
****************************/
.pulse {
  animation: pulse 3s infinite;
}

@keyframes pulse {
  
  0% {
    opacity: 1;
  }
  
  50% {
    opacity: .25;
  }
  
  100% {
    opacity: 1;
  }
}

/*************************************
FADE USED ON INSTRUCTIONS
*************************************/
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

/*************************************
RESCIND USED ON HOME FOR MAIN MESSAGE
*************************************/
.rescind-enter-active {
  animation: rescind 1s;
}
.rescind-leave-active {
  animation: rescind 1s reverse;
}

@keyframes rescind {
  0% {
	  opacity: 0;
    transform: scale(.4);
  }

  50% {
	  opacity: 0;
    transform: scale(.4);
  }

  100% {
		opacity: 1;
    transform: scale(1);
  }
}

/*************************************
RESCIND USED ON HOME FOR MAIN MESSAGE
*************************************/
@keyframes rise {
  0% {
    bottom: 0;
	  opacity: 0;
  }

  50% {
	  opacity: 1;
  }

	85% {
		opacity: 1;
	}

  100% {
    bottom: 70%;
		opacity: 0;
  }
}


/*************************************
CUSTOM MODAL TRANSITION
*************************************/

.modal-fade-enter,
.modal-fade-leave-active {
	opacity: 0;
}

.modal-fade-enter-active,
.modal-fade-leave-active {
	transition: opacity .5s ease
}

/*************************************
SLIDE USED FOR TRIVIA QUESTIONS
*************************************/

/* Enter and leave animations can use different */

/* durations and timing functions.              */
.slide-enter-active {
  transition: all .8s ease-in-out;
}
.slide-leave-active {
  transition: all .8s ease-in-out;
}

.slide-enter {	
  opacity: 0;
  transform: translateX( 100% );
}

.slide-leave-to {
  opacity: 0;
  transform: translateX( -100% );
}

.feedback-slide-enter {	
  opacity: 0;
  transform: translateX( 200% );
}

.feedback-slide-leave-to {
  opacity: 0;
  transform: translateX( -200% );
}

.transition-opacity {
	-webkit-transition: opacity 500ms ease-out;
	-moz-transition: opacity 500ms ease-out;
	-o-transition: opacity 500ms ease-out;
	transition: opacity 500ms ease-out;	
}

.transition-border-color {
	-webkit-transition: border-color 500ms ease-out;
	-moz-transition: border-color 500ms ease-out;
	-o-transition: border-color 500ms ease-out;
	transition: border-color 500ms ease-out;	
}

.transition-all {
	-webkit-transition: all 500ms ease-out;
	-moz-transition: all 500ms ease-out;
	-o-transition: all 500ms ease-out;
	transition: all 500ms ease-out;
}

